* {
  border: none;
  border-radius: 0;
  font-family: FiraCode Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  /* background: #2F302F; */
  background: #161616;
  color: #cdd6f4;
}

tooltip {
  /* background: #24283B; */
  background: #161616;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #2CC8E4;
}

/* workspace style for ones not active */
#workspaces button {
  padding: 5px;
  /* color: #313244; */
  color: #b7b7b7;
  margin-right: 5px;
}

#workspaces button.active {
  color: #BE83FF;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  /* background: #a6e3a1; */
  background: #BE83FF;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#custom-spotify,
#custom-logo,
#workspaces,
#tray,
#cpu,
#backlight {
  background: #161616;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
}

#calendar day.today {
  text-decoration: underline;
}

#pulseaudio {
  color: #89b4fa;
}

#pulseaudio.microphone {
  color: #cba6f7;
}

#battery {
  color: #a6e3a1;
}
